<section>
  <h1>Site Navigation</h1>
  {% comment %} Stuff for Beginners {% endcomment %}
  <p><a href="{{ root_url }}/introvideo">Intro Video</a></p>
  <p><a href="{{ root_url }}/"></a>Get Started</p>
  <br>
  {% comment %} Actual Content and Information {% endcomment %}
  <p><a href="{{ root_url }}/"></a>Download</p>
  <p><a href="{{ root_url }}/"></a>Docs</p>
  <p><a href="{{ root_url }}/"></a>Apps</p>
  <p><a href="{{ root_url }}/"></a>Tutorials</p>
  <p><a href="{{ root_url }}/"></a>FAQ</p>
  <br>
  {% comment %} Community Information {% endcomment %}
  <p><a href="{{ root_url }}/"></a>Support</p>
  <p><a href="{{ root_url }}/"></a>Community</p>
  <p><a href="{{ root_url }}/"></a>About</p>
</section>
