<section>
  {% comment %} 
  /*<h1>Site Navigation</h1>*/
  Stuff for Beginners, first 
  {% endcomment %}
  <div class = "sidebartext"><p><a href="{{ root_url }}/introvideo">Intro Video</a></p></div>
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/Download">Get Started</a></p></div>
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/SampleWorkflow">Sample Workflow</a><p></div>
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/Walkthrough">Walkthrough</a><p></div>
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/LearnMore">Overview</a><p></div>
  <br>
  {% comment %} Actual Content and Information {% endcomment %}
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/Download/">Download</a></p></div>
  <div class = "sidebartext"><p><a href="{{ root_url }}/"></a>Docs</p></div>
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/FAQ">FAQ</a></p></div>
  <div class = "sidebartext"><p><a href="{{ root_url }}/"></a>Apps</p></div>
  <div class = "sidebartext"><p><a href="{{ root_url }}/"></a>Tutorials</p></div>
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/Mininet/">Wiki</a></p></div>
  <div class = "sidebartext"><p><a href="/fixme"></a>Papers</p></div>
  <br>
  {% comment %} Community/Contribution Information {% endcomment %}
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/Support">Support</a></p></div>
  <div class = "sidebartext"><p><a href="{{ root_url }}/"></a>Contribute</p></div>
  <div class = "sidebartext"><p><a href="{{ root_url }}/blog/archives">News Archives</a></p></div>
  <div class = "sidebartext"><p><a href="https://github.com/mininet/mininet/wiki/Credits">About</a></p></div>
</section>
