<section>
  {% comment %}
  /*<h1>Site Navigation</h1>*/
  Stuff for Beginners, first
  {% endcomment %}
  <div class = "navigation"><p><a href="{{ root_url }}/">Mininet</a></p></div>
  <!--
  <div class = "navigation"><p><a href="{{ root_url }}/"></a>Intro Video</p></div>
  -->
  <div class = "navigation"><p><a href="{{ root_url }}/download">Get Started</a></p></div>
  <div class = "navigation"><p><a href="{{ root_url }}/sample-workflow">Sample Workflow</a><p></div>
  <div class = "navigation"><p><a href="{{ root_url }}/walkthrough">Walkthrough</a><p></div>
  <div class = "navigation"><p><a href="{{ root_url }}/overview">Overview</a><p></div>
  <br>
  {% comment %} Actual Content and Information {% endcomment %}
  <div class = "navigation"><p><a href="{{ root_url }}/download">Download</a></p></div>
  <div class = "navigation"><p><a href="https://github.com/mininet/mininet/wiki/Documentation">Documentation</a></p></div>
  <div class = "navigation"><p><a href="https://github.com/mininet/mininet/wiki/Publications">Papers</a></p></div>
  <div class = "navigation"><p><a href="https://github.com/mininet/mininet/wiki/Videos">Videos</a></p></div>
  <div class = "navigation"><p><a href="https://github.com/mininet/mininet/wiki">Wiki</a></p></div>
  <div class = "navigation"><p><a href="https://github.com/mininet/mininet">Source Code</a></p></div>
  <div class = "navigation"><p><a href="https://travis-ci.org/mininet/mininet">Build Results</a></p></div>
  <div class = "navigation"><p><a href="https://github.com/mininet/mininet/wiki/Mininet-Apps">Apps</a></p></div>
  <div class = "navigation"><p><a href="https://github.com/mininet/mininet/wiki/FAQ">FAQ</a></p></div>
  <!--
  <div class = "navigation"><p><a href="{{ root_url }}/"></a>Tutorials</p></div>
  -->
  <br>
  {% comment %} Community/Contribution Information {% endcomment %}
  <div class = "navigation"><p><a href="{{ root_url }}/support">Support</a></p></div>
  <div class = "navigation"><p><a href="{{ root_url }}/contribute">Contribute</a></p></div>
  <div class = "navigation"><p><a href="{{ root_url }}/blog/archives">News Archives</a></p></div>
  <div class = "navigation"><p><a href="{{ root_url }}/credits">Credits</a></p></div>
</section>
