<style>
  nav li, form { display: none; }
  header time { display: none; }
  .time { display: none; }
  .credit { font-size: 75%; }
  li code { color: #91a1a1; background-color: #002b36; }
</style>

{% comment %}
<!--Fonts from Google's Web font directory at http://google.com/webfonts
BL: removed since they make things SLOW
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
-->
{% endcomment %}
