// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* Was 1.5em; reduce somewhat for tighter layout. */
.frontpageparagraph {
    margin-bottom: 0.5em;
}

@mixin frontpagesharedstyle {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background: #ffffff no-repeat 0 -150px;
    padding: 2px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: white 0.5em solid;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.frontpagediagram img {
    @include frontpagesharedstyle;
    /*width: 200px;
    height: 130px;*/
}

.frontpagebutton {
    @include frontpagesharedstyle;
    width: 200px;
    /* Commented out below - saw slight interface oddness w/horizontal
      resizing. */
    /*height: 130px;*/
}

/* Gap between button header and text seemed too small; reduced from 1.0em.*/
.buttontitle h3 {
    margin-bottom: 0.3em;
}

/* A slight reduction in font size here frees up significant vertical space.
   Reduced from 100%.
*/
.buttontext p {
    font-size: 95%;
}

/* Customize sidebar - trying to get the right spacing & size here. */
.sidebartext p {
    @extend .serif;
    font-size: 140%;
    margin-bottom: 0.5em;
}


// Changes to default styles

body {
    font-size: medium;
}

// was 2.2em, 1.2em
h1 {
  font-size: 2em;
  line-height: 1em;
}
